/* rashalama.com */
body {
    background-color: #E2DFCA;
}

h1 {
    color: #513A30;
    font-family: 'Courier New';
    font-weight: lighter;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
}

p {
    color: #513A30;
    font-size: 14px;
    font-family: 'Courier New';
}

a {
    text-decoration: none;
    color: #657B67;
    font-family: 'Courier New';
    font-size: 14px;
}

nav {
    margin-left: 5%;
    margin-top: -15px;
}

img {
    width: 29vw;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: -5px;
    margin-left: 22%;
}

footer {
    text-align: right;
    margin: 1%;
    margin-right: 20%;
    margin-bottom: 5%;
    color: #513A30;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 335px;
    font-size: 12px;
    background-color: #869b88;
    color: #e3e3e1;
    text-align: left;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    width: 335px;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .andadam {
    text-align: left;
    margin-left: 5%;
    margin-top: -3%;
    color: #513A30;
    font-family: 'Courier New';
}

/* index.html >> ABOUT*/
.border-about {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: solid;
    border-color: #513A30;
    background-color: #E2DFCA;
    border-width: 1px;
    text-align: center;
}

#text-about {
    float: left;
    width: 50%;
    text-align: justify;
    padding-left: 4px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-about {
    float: left;
    width: auto;
    padding-top: 2px;
}

#caption-about {
    font-size: 10px;
    font-style: italic;
    text-align: right;
    margin-right: -80px;
    margin-top: -25px;
}

#clear-about {
    clear: both;
}

/* writing.html >> standard box template */
.border-writing {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: solid;
    border-color: #5D564C;
    background-color: #E2DFCA;
    border-width: 1px;
    text-align: center;
}

/* writing.html >> HEIDEGGER's BEING AND TIME */
#text-writing-heidegger {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-heidegger {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-heidegger {
    width: auto;
    height: 46vh;
    margin-left: 40px;
}

#clear-writing-heidegger {
    clear: both;
}


/* writing.html >> THE TRUE COST OF A CUP OF COFFEE */
#text-writing-coffee {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-coffee {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-coffee {
    width: auto;
    height: 46vh;
    margin-left: 40px;
}

#clear-writing-coffee {
    clear: both;
}


/* writing.html >> LOVE IS A SERIES OF SHORT PRAYER*/
#text-writing-love {
    float: left;
    width: 14%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-love {
    float: left;
    width: 86%;
    margin: -4%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-love {
    width: auto;
    height: 35vh;
    margin-left: 40px;
}

#clear-writing-love {
    clear: both;
}


/* writing.html >> ON WRITING */
#text-writing-on {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-on {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-on {
    width: auto;
    height: 45vh;
    margin-left: 40px;
}

#clear-writing-on {
    clear: both;
}


/* writing.html >> FLOWERS & LETTERS */
#text-writing-flowers {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-flowers {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-flowers {
    width: auto;
    height: 45vh;
    margin-left: 40px;
}

#clear-writing-flowers {
    clear: both;
}


/* writing.html >> 28 DAYS */
#text-writing-28 {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writing-28 {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-28 {
    width: auto;
    height: 49vh;
    margin-left: 40px;
}

#clear-writing-28 {
    clear: both;
}


/* photography.html */
.border-photography {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 20%;
    padding-left: 0%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: #513A30;
    background-color: #E2DFCA;
    border-width: 1px;
    text-align: left;
}

.column-photography img {
    width: 120px;
    height: 120px;
    margin-left: 2%;
    margin-top: -2%;
    margin-bottom: -2%;
    object-fit: cover;
    vertical-align: center;
  }

#clear-photography {
    clear: both;
}

.row-grid-photography {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
    margin-right: 30px;  
}
  
.column-grid-photography {
    flex: 25%;
}
  
.column-grid-photography img {
    width: 550px;
    height: auto;
    margin-bottom: -15px;
    object-fit: cover;
    vertical-align: center;
}


/* photography.html >> rashas souvenirs.html */
.row-grid-souvenirs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
    margin-right: 30px;  
}
  
.column-grid-souvenirs {
    flex: 25%;
}
  
.column-grid-souvenirs img {
    width: 235px;
    height: 235px;
    margin-bottom: -15px;
    object-fit: cover;
    vertical-align: center;
}


/* photography.html >> summer in maurice.html */
.img-maurice {
    width: 98%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}

.img-maurice-2 {
    width: 48%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}


/* photography.html >> winter in gaspe.html */
.img-gaspe {
    width: 98%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}

.img-gaspe-2 {
    width: 48%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}


/* photography.html >> autumn in bic.html */
.img-bic {
    width: 98%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}


/* photography.html >> summer in saguenay.html */
.img-saguenay {
    width: 98%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}

.img-saguenay-2 {
    width: 48%;
    height: auto;
    margin-left: 15px;
    margin-bottom: -15px;
}
