/* rashalama.com */
body {
    background-color: #D0C3AD;
}

h1 {
    color: black;
    font-family: 'Courier New';
    font-weight: lighter;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
}

p {
    color: #5D564C;
    font-size: 14px;
    font-family: 'Courier New';
}

a {
    text-decoration: none;
    color: #4D7350;
    font-family: 'Courier New';
    font-size: 14px;
}

nav {
    margin-left: 5%;
    margin-top: -15px;
}

footer {
    text-align: right;
    margin: 1%;
    margin-right: 20%;
    margin-bottom: 5%;
    color: black;
}



/* about.html */
.border-about {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: solid;
    border-color: #5D564C;
    background-color: #F7F1E2;
    border-width: 1px;
    text-align: center;
}

img {
    width: 29vw;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: -5px;
    margin-left: 22%;
}

#text-about {
    float: left;
    width: 49%;
    text-align: justify;
    padding-left: 4px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-about {
    float: left;
    width: auto;
    padding-top: 2px;
}

#clear-about {
    clear: both;
}



/* writings.html >> LOVE IS A SERIES OF SHORT PRAYER*/
.border-writings {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: solid;
    border-color: #5D564C;
    background-color: #F7F1E2;
    border-width: 1px;
    text-align: center;
}


#text-writings-love {
    float: left;
    width: 14%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writings-love {
    float: left;
    width: 86%;
    margin: -4%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-love {
    width: auto;
    height: 35vh;
    margin-left: 40px;
}

#clear-writings-love {
    clear: both;
}


/* writings.html >> ON WRITING */
#text-writings-on {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writings-on {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-on {
    width: auto;
    height: 45vh;
    margin-left: 40px;
}

#clear-writings-on {
    clear: both;
}


/* writings.html >> FLOWERS & LETTERS */
#text-writings-flowers {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writings-flowers {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-flowers {
    width: auto;
    height: 45vh;
    margin-left: 40px;
}

#clear-writings-flowers {
    clear: both;
}


/* writings.html >> 28 DAYS */
#text-writings-28 {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-writings-28 {
    float: left;
    width: 90%;
    margin: -2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.img-28 {
    width: auto;
    height: 49vh;
    margin-left: 40px;
}

#clear-writings-28 {
    clear: both;
}
